extends ../layout

block content
  div
    h1= title
    a(href='blogs/new') Write a new blog
    ul
      each blog in blogs
        li
          h3
            a(href='/blogs/#{blog._id}')= blog.title
          p= blog.content
          span= blog.createdAt