extends ../layout
block content
  h1= title
  p= blog.content
  ul
    li
      a(href='/blogs/#{blog._id}/edit') Edit this blog
    li
      form(method='POST' action='/blogs/#{blog._id}?_method=DELETE')
        button(type='submit') Delete blog

  a(href='/') Back to home